.icon-raw{
    display: flex;
    justify-content: space-between;
    margin-right : 30px;
}

.icon-raw__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap : wrap;
}

.icon-raw__icon i  {
    font-size : 35px;
}



.icon-raw__icon span {
    margin-top : 20px;
}

.icon-last{
    margin-left : 300px;
}

.icon-raw__second{
    display: flex;
    justify-content: space-between;
}

.icon-raw__icon__blind{
    color: rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
}
